/*  your css code here. If applicable */
body {
  background-color: #f8f8f8;
  margin: 0;
  font-family: Arial, sans-serif;
}

.book-library {
  display: flex;
  flex-wrap: wrap;
  flex-direction:column;
  background-color: #ffffff;
  padding: 20px;
	background-color:#f8f8f8;
}

.book {
  margin: 10px;
  padding: 15px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.book img {
  max-width: 100%;
  height: auto;
}

.book-info {
  margin-top: 15px;
	background-color:'rgb(255, 255, 255);
	
}

.book-info h2 {
  margin: 5px 0;
}

.author {
  color: #777777;
}

.price {
  color:white ;
  font-weight: #ffffff;
	background-color:#2ecc71;
}
